<div class = "col-md-9 mx-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 border">
      <%= react_component "FullTask", task: @task, project_title: @task.project.title %>
      </div>
      <div class="col-6">
        <%=form_for @task, remote: true do |form|%>
          <%= form.label "Change status" %><br/>
          <%= form.select :status, options_for_select(Task::Status, @task.status), {},{class: 'select2'} %>
          <%= form.submit "Send"%>
        <%end%>

        <% if current_user.role == "manager"%>
          <%=form_tag add_developer_task_path ,remote: true do  %>
            <%= hidden_field_tag :id, @task.id %>
            <%= label_tag :user_ids, "Chose developers to add"%><br/>
            <%= select_tag :user_ids, options_for_select(User.where.not(id: @task.user_ids, role: "manager").collect{|u| [ u.first_name + " "+ u.second_name, u.id]}),{ :multiple => true, size: 5, class: 'select2'} %>
            <%= submit_tag "Add dev to task"%>
          <%end%>
        <%end%>
        <%unless @task.users.empty? %>
        <div class="">
            <h5>Task developers</h5>
            <ul class="list-group">
              <% @task.users.where(role: 'developer').each do |user|%>
                <li class="list-group-item"><%= user.first_name + " "+ user.second_name %><%= button_to "Remove", remove_developer_task_path( id: @task.id, user_id: user.id) , remote:true, class: "float-right"  if current_user.role == 'manager'%></li>
            </ul>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div><br/>


<%= link_to 'Back to project', @task.project, class: "btn btn-info" %><br/>

<%= react_component "Comments", comments: comments_react(@task), task_id: @task.id%>
