<div class = "col-md-9 mx-auto">
<small>project  <%= @task.project.title %></small><br/>

<%= link_to 'Edit', edit_task_path(@task), class: "btn btn-primary" %>
<%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 border">
      <%= react_component "FullTask", task: @task %>
      </div>
      <div class="col-6">
        <%=form_for @task do |form|%>
          <%= form.label "Change status" %><br/>
          <%= form.select :status, options_for_select(Task::Status, @task.status), {},{class: 'select2'} %>
          <%= form.submit "Send"%>
        <%end%>

        <% if current_user.role == "manager"%>
          <%=form_tag add_developer_task_path do  %>
            <%= hidden_field_tag :id, @task.id %>
            <%= label_tag :user_ids, "Chose developers to add"%><br/>
            <%= select_tag :user_ids, options_for_select(User.where.not(id: @task.user_ids, role: "manager").collect{|u| [ u.first_name + " "+ u.second_name, u.id]}),{ :multiple => true, size: 5, class: 'select2'} %>
            <%= submit_tag "Add dev to task"%>
          <%end%>
        <%end%>
      </div>
    </div>
  </div><br/>


<%= link_to 'Back to project', @task.project, class: "btn btn-info" %><br/>

<%= react_component "Comments", comments: comments_react(@task), task_id: @task.id%>
