<p id="notice"><%= notice %></p>

<p>
  <strong>TASK:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project.title %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %>
<td><%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<%=form_for @task do |form|%>
  <%= form.label "Change status" %>
  <%= form.select :status, options_for_select(Task::Status, @task.status), {},{class: 'select2'} %>
  <%= form.submit "Send"%>
<%end%>

<% if current_user.role == "manager"%>
  <%=form_tag add_developer_task_path do  %>
    <%= hidden_field_tag :id, @task.id %>
    <%= label_tag :user_ids, "Chose developers to add"%><br/>
    <%= select_tag :user_ids, options_for_select(User.where.not(id: @task.user_ids, role: "manager").collect{|u| [ u.first_name + " "+ u.second_name, u.id]}),{ :multiple => true, size: 5, class: 'select2'} %>
    <%= submit_tag "Add dev to task"%>
  <%end%>
<%end%>


<%= link_to 'Back', tasks_path %>

<%= react_component "Comments", comments: comments_react(@task), task_id: @task.id%>
