<p id="notice"><%= notice %></p>

<p>
  <strong>TASK:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project.title %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %>
<%=form_for Comment.new do |form|%>
  <%= form.label "Comment" %>
  <%= form.text_field :title, id: :task_description %>
  <%= form.hidden_field :task_id, value: @task.id%>
  <%= form.submit "Send"%>
<%end%>
<%=form_for @task do |form|%>
  <%= form.label "Change status" %>
  <%= form.select :status, options_for_select(Task::Status), {},{class: 'select2', selected: @task.status} %>
  <%= form.submit "Send"%>
<%end%>
<%= link_to 'Back', tasks_path %>

<%= react_component "Comments", comments: @task.comments%>
