<!DOCTYPE html>
<html>
  <head>
    <title>TaskTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <ul class="nav justify-content-end">
        <% if user_signed_in? %>
          <li class="nav-item">
            <h6>Logged as <strong><%= current_user.first_name %> <%= current_user.second_name%></strong>( <%=current_user.role%> )</h6>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>

          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
          </li>
        <% end %>
      </ul>
      <div class="pull-right", style="float:right; min-width: 300px">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>


                <%= yield %>

  </body>
</html>
